#a{color:red; display: inline;}
#b{color:orange; display: inline;}
#c{color:yellow; display: inline;}
#d{color:green; display: inline;}
#e{color:blue; display: inline;}
#f{color:indigo; display: inline;}
#g{color:violet; display: inline;}
#h{color:pink; display: inline;}
#i{color:brown; display: inline;}